
@import url("file:///home/bhavesh/.cache/wal/colors-waybar.css");

/* General Waybar style */
* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    /*background-color: @background;*/
    background-color: alpha(@background, 0.6);
    color: @foreground;
 /*   border-bottom: 2px solid @color4;*/
    padding: 8px 5px;
}

#custom-applauncher,
#workspaces {
    background-color: transparent;
    margin: 0 2px;
}

#custom-applauncher{
    padding: 5px;
    font-size: 16px;
    font-weight:bold;
}

#custom-applauncher,
#workspaces button {
    padding: 0 3px;
    color: @foreground;
    background: transparent;
    border: none;
}

#workspaces button.active {
    color: @foreground;
    background-color: @color4;
    border-radius: 4px;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @foreground;
    border-radius: 4px;
}


#window {
    color: @color6;
    font-weight: bold;
    margin-right: 5px;
}

#pulseaudio, #network, #memory, #temperature, #backlight,
#battery, #battery#bat2, #clock, #window, #tray, #custom-power {
    padding: 0 10px;
/*    margin: 0 1px;*/
    background-color: @color0;
    border-radius: 4px;
    margin: 3px;
}

#temperature.critical {
    color: @color1;
}

#clock {
    background-color: @color0;
    font-weight: bold;
}

#tray {
    background-color: @color0;
}
#workspaces button:hover,
#pulseaudio:hover,
#network:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#battery:hover,
#battery#bat2:hover,
#clock:hover,
#tray:hover,
#custom-applauncher:hover,
#custom-power:hover {
    background-color: @color4;
    color: @background;
}


#custom-power {
    background-color: @color0;
    color: @foreground;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    margin-right: 3px;
}


tooltip {
    background-color: @color0;
    color: @foreground;
    border-radius: 6px;
    border: 1px solid @color4;
    padding: 5px;
}
